body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #0E2E1F;
  padding: 30px 25px;
  width: 90%;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #ddd;
  font-size: 22px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 12px;
  background-color: #218838;
  color: #ddd;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.mensagem {
  font-size: 14px;
  color: green;
}

.voltar-login {
  margin-top: 15px;
  font-size: 14px;
}

.voltar-login a {
  color: #2980b9;
  text-decoration: none;
}

.voltar-login a:hover {
  text-decoration: underline;
}
